
  
  .lisa{
    
    margin-top: 1300px;
    width: 95%;
    position: absolute;
    left: 23px;
    top: 0px;
    z-index: 1;
    background-image: url("lisa.png");
  
  }
  .lisa:hover{
      background-image: url("lisacolour.png");
  }



  
